.sidebar {
    position: fixed;
    top: 50px;
    width: 250px;
    height: 100%;
    background-color: #032342;
    padding: 20px;
    color: white;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  
  .sidebar a:hover {
    background-color: #3a5978;
    border-radius: 10px;
  }
  