.insidecontent{
 
padding: 20px;
margin-left: 50px;
}
.insidecontent h2{
    color: rgb(94, 94, 240);
   
}
.insidecontent input{
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    border-color: rgb(168, 168, 248);
}
.insidecontent .search{
    position: relative;
    left: 40px;
    top: 2px;
}
.insidecontent .settings{
    position: relative;
    left: -50px;
    top: 5px;
}
button{
    color: white;
    background-color: rgb(108, 108, 245);
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 10px;
}
.buttons {
   margin-left: 100px;
   margin-top: 20px;
  

}
.buttons button{
    margin-right: 8px;
}
.button1{
    color: white;
    background-color: rgb(108, 108, 245);
    margin-top: 20px;
    margin-right: 8px;
    width: 27%;
    border: none;
    border-radius: 10px;
}
.button1 img{
    margin-left: -60px;
   
  
}
.smile{
    width: 80%;
    padding: 30px;
    margin-left: 50px;
}