<div class="insidecontent">
    <h2 >Find Jobseeker</h2>
    <form  class="search">
        <img src="assets/images/search copy 2.png" class="search">
        <input type="search" placeholder="          Search by job title,qualification,industry" aria-label="Search"> 
        <img src="assets/images/icon filter.png" class="settings"> 
      </form>
      <div class="buttons">
        <button type="button">Location</button>
        <button type="button">Experience</button>
        <button type="button">Category</button>
        <button type="button">Skill</button>
      </div>
      <div style="margin-left: 80px;">
      <button class="button1"><img src="assets/images/Group 33988.png"> Interviews<br> scheduled 8</button>
      <button class="button1"><img src="assets/images/icon.png"> Application<br> Received 127</button>
      <button class="button1"><img src="assets/images/icon (1).png"> total jobs<br> posted 49</button>
    </div>
   <img src="assets/images/smiling.png" class="smile">
     
</div>
