
.container {
    display: flex;
    font-size:small ;
    
}
.left {
    margin-top: 2%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    color: rgb(131, 127, 127);
}
.profile h3{color: black;}
.main,.aboutme
{
    margin-bottom: 10%;
    border: 1px solid rgb(180, 176, 176) ;
    border-radius: 10px;
    padding: 7% 3%;
    color: rgb(131, 127, 127);
}

.profile-contact {
    display: flex;
    flex-direction: column;
}

.profile-contact h3{
    font-weight: 400;
}

.contact {
    display: flex;
    align-items: center;

}
.aboutme h3{color: black;}
.contact img {
     margin-right: 4%;
}
.right{
    flex-basis: 60%;
    padding: 20px;
}
