.navbar{
    display: flex;
    padding: 15px;
    align-items: center;
    /* justify-content: space-between; */
    width: 962px;
    height: 80px;
}
ul{
    list-style-type: none;
}


.nav-left{
    display: flex;
    margin-left: 0px;
}
.nav-right{
    display: flex;
    align-items: center;
}

.nav-center{
    flex-grow: 1;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}


.search{
   display: flex;
   align-items: center;
   background-color: white;
   border-radius: 20px;
   padding: 5px;
   width: 300px;
}

.search input{
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
}

.search button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px;
}