<div class="navbar">
    <div class="nav-left">
        <ul>
            <li>
               <h2>New Registrations</h2>
            </li>
        </ul>
    </div>
    <div class="nav-center">
        <ul>
            <li>
                <div  class="search">
                    <input type="text" placeholder="Search Something Here...">
                    <button type="button">
                         <img src="../../assets/images/search.png" alt="">
                    </button>
                </div>
                
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a href="#"><img src="../../assets/images/notification.png"></a>

            </li>
            <li><a><img src="../../assets/images/notification (1).png"></a></li>
            <li><a><img src="../../assets/images/profilePicture.png" align="center"><b>Oda Link</b></a></li>

        </ul>
    </div>
</div>