body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 20px auto;
  }
  .search-bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #032342;
    color: white;
  }
  .search-bar button:hover{
    background-color: #3a5978;
  }
  