.low-priority{
    background-color: green;
}
.medium-priority{
    background-color: yellow;
}
.high-priority{
    background-color: red;
}

.container{
    width: 800px;
    height: 500px;
    
}
.box{
    width: 400px;
    height: 100px;
    font-size: 30px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: blue;
}
button{
    background-color: rgb(0, 195, 255);
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;

}
button:hover{
    background-color: aqua;
}
input{
    width: 200px;
    height: 40px;
    border-radius: 20px;

}
select{
    height: 40px;
    border-radius: 20px;

}
