<div class="whole">
    <div class="memberContainer1" *ngFor="let list of filteredList">
        <img src="{{list.Image}}">
        <p>{{list.Name}}<br>{{list.Education}}<br>{{list.Years}}<br>{{list.Location}}</p>
        <button class="view">view</button>
    </div>
    <!-- <div class="memberContainer2">
        <img src="../../assets/images/cheerful-curly-business-girl-wearing-glasses 2.png">
        <p>Sarah<br>MSc<br>2 Year<br>Chennai</p>
        <button class="view">view</button>
    </div>
    <div class="memberContainer3">
        <img src="../../assets/images/adult-serious-businessman-looking-camera 1.png">
        <p>Vivek<br>BTech/CSE<br>5 Year<br>Thiruvananthapuram</p>
        <button class="view">view</button>
    </div>
    <div class="memberContainer4">
        <img src="../../assets/images/cheerful-indian-businessman-smiling-closeup-portrait-jobs-career-campaign 2.png">
        <p>DeepakRoy<br>BTech/EEE<br>2 Year<br>Calicut</p>
        <button class="view">view</button>
    </div> -->
</div>